<% if @vacancies != [] %>

	<% @vacancies.each do |v| %>
	<%= v.title %> <br>
	<%= v.deadline %> <br>
	<%= link_to "Read more", new_application_path(:id => v.id) %> <br>

	<%= form_for @application, url: applications_path do |a| %>
	<%= a.submit "Search" %>
	<%= a.select(:id, Vacancy.all.map{|u| ["#{u.id}", u.id]}, :prompt => 'Select a city') %><br>
	<% end %>

	<% end %>
<% else %>

	<h2> No vacancies </h2> <br>

<% end %>

<%= link_to "Add new vacancy", new_vacancy_path %>
