<%= @meetroom.title  %> <br>

<% if super_member %>
| <%= link_to "Edit", edit_meetroom_path(@meetroom.id) %> | 
<%= link_to "Delete", meetroom_path(@meetroom.id), method: :delete, data: {confirm: "Are you sure?"} %> | <br>
<hr>
<% end %>


<%= link_to "Reservation", reservationwithmeetroomid_path(@meetroom.id) %> <br>


<% if @resservations == [] %>
<h3> No reservations in this meetrooms</h3>
<% else %>



<% @reservations.each do |r| %>

<% if r.meetroom_id == @meetroom.id %>

<hr>

<%	@member = @members.find_by(id: r.member_id) %>
<% if @member.memberparam != nil %>
<%= image_tag @member.memberparam.avatar.url(:extrathumb) %>
<% end %>
 <%= link_to @member.firstname + " " + @member.lastname, memberparam_path(r.member_id) %>
<%= r.userName %> <br>
<%= r.dateBoth %> <br>
<%= r.timeStart.hour %> : <%= r.timeStart.min %> -
<%= r.timeEnd.hour %> : <%= r.timeEnd.min %> <br>

<% if r.member_id == current_member.id %>
	<%= link_to "Delete", reservation_path(r.id), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>

<% end %>

<% end %>
<% end %>