<% if @memberparam.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@memberparam.errors.count, "error") %> prohibited this memberparam from being saved:</h2>
 
    <ul>
    <% @memberparam.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @memberparam, url: memberparams_path do |m| %>
<%= m.label :position %> <br>
<%= m.text_field :position %> <br>

<%= m.label :email %> <br>
<%= m.email_field :email %> <br>

<%= m.label :skype %> <br>
<%= m.text_field :skype %> <br>

<%= m.label 'Phone number' %> <br>
+<%= m.text_field :phonenumber %> <br>

<%= m.label :birthday %> <br>
<%= m.date_select :birthday, start_year: 100.years.ago.to_date.year, end_year: 14.years.ago.to_date.year %> <br>


<%= m.label 'Emergency name' %> <br>
<%= m.text_field :emergencyname %> <br>

<%= m.label 'Emergency phone number' %> <br>
+<%= m.text_field :emergencyphonenumber %> <br>

<%= m.file_field :avatar %> <br>

<%= m.submit 'Save' %>
<% end %>

