
<br> <br>
<%= image_tag @memberparam.avatar.url(:medium) %> <br>

<h2>
	<%= @memberparam.member.firstname %>
	<%= @memberparam.member.lastname %>
</h2>

Position: <%= @memberparam.position %> <br>
Email: <%= @memberparam.email %> <br>
Skype: <%= @memberparam.skype %> <br>
Phone number: +<%= @memberparam.phonenumber %> <br>
Birthday: <%= @memberparam.birthday %> <br>
Emergency name: <%= @memberparam.emergencyname %> <br>
Emergency phone number: +<%= @memberparam.emergencyphonenumber %> <br>

<%= link_to "Edit",  edit_memberparam_path(@memberparam.id) %>
